/* Pour trouver une partie : Ctrl/Cmd + F, puis taper "* partie" (sans ") */

/* ----------------------------------------------------------------- */
/* Fonts */
@font-face { /* Header */
font-family: 'Arimo Bold';
    src: url('fonts/Arimo-Bold.ttf');
}

@font-face { /* Title page */
    font-family: 'Aspira Black';
    src: url('fonts/Aspira Black.otf');
}

@font-face { /* sub-title & buttons */ 
    font-family: 'Trenda Bold';
    src: url('fonts/Trenda-Bold.otf');
}

@font-face { /* sub-title number */
    font-family: 'Averta Standard Bold';
    src: url('fonts/AvertaStd-Bold.ttf');
}

@font-face { /* paragraph */
    font-family: 'Alvi Nastaleeq';
    src: url('fonts/Alvi-Nastaleeq.ttf');
}

/* ----------------------------------------------------------------- */
/* Variables */
:root {
    /* Colors  */
    --header-color: rgb(18, 16, 45);
    --homepage-header-color: rgba(18, 16, 45, 0.5);
    --header-text-color: white;

    --title-color: white;
    --paragraph-color: #C9C8E5;
    --highlight-color: #EC9123;
    --highlight-hover-color: orange;
    --link-hover-color: lightblue;
    --form-input-background-color: rgba(255, 255, 255, 0.1);

    --default-background-color: #131234;
    --highlight-background-color: var(--header-color);
    --banner-color-filter: rgba(18, 16, 45, 0.6);
    --information-background-color: #0D0A26;

    --footer-content-background-color: #0D0A26;
    --footer-copyrights-background-color: #0c0923;

    /* Fonts */
    --header-font: 'Arimo Bold';
    --banner-font: 'Aspira Black';
    --title-font: 'Trenda Bold';
    --title-number-font: 'Averta Standard Bold';
    --paragraph-font: 'Alvi Nastaleeq';
    --button-font: 'Trenda Bold';

    /* Font sizes */
    --header-title-font-size: 24px;
    --header-nav-font-size: 16px;
    --banner-font-size: 5vw;
    --banner-max-font-size: 108px;
    --paragraph-font-size: 24px;
    --title-number-font-size: 40px;
    --title-font-size: 24px;
    --button-font-size: 20px;

    /* Padding */
    --header-vertical-padding: 1vh;
    --banner-vertical-padding: 6%;

    --homepage-banner-horizontal-padding: 20%;
    --page-horizontal-padding: 12%;
    --button-padding: 24px;
    --form-input-padding: 0.5vw;

    --footer-content-vertical-padding: 4%;
    --footer-copyrights-vertical-padding: 0.5%;

    /* Other */
    --button-border-radius: 4px;
    --button-min-width: 200px;
    --form-input-border-radius: 8px;
}

/* ----------------------------------------------------------------- */
/* Global */
body {
    background-color: var(--default-background-color);
    margin: 0;
    padding: 0;

    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
}

strong {
    color: var(--highlight-color);
    font-size: calc(var(--paragraph-font-size) + 2px); /* Sightly bigger than the paragraph */
}

header, section, #footer-content, #copyrights {
    padding-left: var(--page-horizontal-padding);
    padding-right: var(--page-horizontal-padding);
}

img {
    width: 100%;
    height: auto;
    /* vertical-align: middle; */
}

/* Buttons */
button {
    background-color: var(--highlight-color);
    color: var(--title-color);

    border: none;
    border-radius: var(--button-border-radius);

    padding: var(--button-padding);
    min-width: var(--button-min-width);

    font-family: var(--button-font);
    font-size: var(--button-font-size);
}

button:hover {
    background-color: var(--highlight-hover-color);
    cursor: pointer;
}

/* Titles */
h3 {
    font-family: var(--title-number-font);
    color: var(--title-color);
    font-size: var(--title-number-font-size);
}

h4 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

h3, h4 {
    margin: 0;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

textarea, input {
    border: none;
    border-bottom: 2px solid var(--highlight-color);
    border-radius: var(--form-input-border-radius) var(--form-input-border-radius) 0 0; /* Only top corners are rounded */
    background-color: var(--form-input-background-color);

    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);

    /* width: 100%; */
    padding: var(--form-input-padding);
    margin-bottom: 2%;
}

/* ----------------------------------------------------------------- */
/* Header */

header {
    background-color: var(--header-color);

    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: var(--header-vertical-padding);
    padding-bottom: var(--header-vertical-padding);

    color: var(--header-text-color);
    font-family: var(--header-font);
    font-size: var(--header-nav-font-size);
}

h1 {
    margin: 0;
    font-size: var(--header-title-font-size);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav li {
    list-style: none;
}

nav li {/* Add space to the right of each image except the last one */
    margin-left: 32px;
}

nav a {
    text-decoration: none;
    color: var(--header-text-color);
}

nav a:hover {
    color: var(--link-hover-color);
}

/* ----------------------------------------------------------------- */
/* Banner */
.banner {
    background-image: linear-gradient(var(--banner-color-filter), var(--banner-color-filter)), url("images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding-top: var(--banner-vertical-padding);
    padding-bottom: var(--banner-vertical-padding);
    text-align: center;

    font-family: var(--banner-font);
    color: var(--title-color);
}

h2 {
    margin: 0;
    font-size: min(var(--banner-font-size), var(--banner-max-font-size));
}

/* ----------------------------------------------------------------- */
/* footer */
footer p, footer li {
    margin: 8px 0;
}

#footer-content {
    background-color: var(--footer-content-background-color);

    display: flex;

    padding-top: var(--footer-content-vertical-padding);
    padding-bottom: var(--footer-content-vertical-padding);
}

/* Left part of the footer */
.social-medias {
    display: flex;
    margin: 0;
}

.social-medias img {
    background-color: var(--highlight-color);
    border-radius: 4px;

    padding: 12px;

    width: auto;
    height: 1em;
    margin: 0 4px;
}

.social-medias img:hover {
    background-color: var(--highlight-hover-color);
    cursor: pointer;
}

#infos {
    width: 70%;
}

/* Right part of the footer */
#nav > ul {
    margin-top: 0;

    list-style: none;
    padding: 0;
}

#nav > ul > li::before{ /* Add an orange square before each element of the list */
    content: "■";
    color: var(--highlight-color);
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
}

#footer-content a {
    color: var(--paragraph-text-color);
}

#infos a:hover {
    color: var(--link-hover-color);
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    color: var(--highlight-hover-color);
}

/* Bottom part of the footer */
#copyrights {
    margin-top: 0;

    background-color: var(--footer-copyrights-background-color);

    padding-top: var(--footer-copyrights-vertical-padding);
    padding-bottom: var(--footer-copyrights-vertical-padding);
}

/* ----------------------------------------------------------------- */
/* Fixed button */
#fixed-button {
    opacity: 0.5;

    padding: 0;
    min-width: 0; /* Overwrite the default minimum width */
    width: 3vw; 
    height: 3vw;

    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin: 2%;
}

/* ----------------------------------------------------------------- */
/* Homepage */

#homepage-header {
    background-color: var(--homepage-header-color);

    position: fixed;
    width: calc(100% - 2 * var(--page-horizontal-padding)); /* 100% - 2 * horizontal padding */
}

/* Landing Section */
#homepage-banner {
    background-image: linear-gradient(var(--banner-color-filter), var(--banner-color-filter)), url("images/landing.jpg");

    padding: 16% var(--homepage-banner-horizontal-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homepage-banner h2 {
    font-size: min(calc(var(--banner-font-size) * 1.25), var(--banner-max-font-size));
}

#homepage-banner p {
    font-size: 1.6em;
    margin-top: -12px;

    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
}

#play-button {
    width: 224px;
}

/* Introduction Section */
#intro {
    background-color: var(--highlight-background-color);

    padding-top: 8%;
    padding-bottom: 8%;
}

/* Images */
.images {
    display: flex;
    margin-bottom: 2%;
}

.images > div:not(:last-child) { /* Add space to the right of each image except the last one */
    margin-right: 2%;
}

.img1 {flex: calc(4096/2731);} /* width / height of the image */
.img2 {flex: calc(328/492);}
.img3 {flex: calc(2884/4493);}

/* Text */
.list-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.list-text > article {
    width: 28%;
}

.list-text > article > h3 {
    color: #3724A0;

    margin-right: 4%;
}

.list-text > article {
    display: flex;
    flex-direction: row;
    align-content: center;
}

/* Stats Section */
#stats {
    display: flex;

    padding-top: 8%;
    padding-bottom: 8%;
}

#stats > img {
    width: 50%;

    object-fit: cover;
    border-radius: 4px;

    margin-right: 2%;
}

.stats-container {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
}

.stats-row {
    display: flex;

    width: 100%;
    height: 50%;
}

.stat-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    margin: 2%;
    border-radius: 4px;

    text-align: center;
}

#stat1 {background-color: #3724A0;}
#stat2 {background-color: #16A25F;}
#stat3 {background-color: #B91BA8;}
#stat4 {background-color: #EC9122;}

/* About Us Section */

#about-us {
    padding-bottom: 4%;

    text-align: center;
}

#about-us > p {
    margin-top: 0;
}

#ornament {
    width: 12vw;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    margin-bottom: 24px;
}

.team {
    display: flex;
    justify-content: space-between;
}

.person-display {
    background-color: var(--information-background-color);
    padding: 4% 0;
    width: 32%;
}

.person-display h4{
    margin-top: 16px;
}

.person-display p {
    margin-top: 4px;
}

.person-display > img {
    width: 12vw;
    height: auto;
    border-radius: 50%;
}

.person-social {
    justify-content: center;
}

.person-social a{
    padding: 0;
    margin: 0 2%;
}

.person-social img{
    background-color: transparent;
}

.person-social img:hover {
    background-color: transparent;
    filter: drop-shadow(0 0 20px white);
}

/* ----------------------------------------------------------------- */
/* Form pages  */

/* Signup and login page */
#signup-form, #login-form{
    padding-top: 4%;
    padding-bottom: 4%;
}

#signup-form, #login-form {
    padding-left: 30%;
    padding-right: 30%;
}

/* Contact page */
#contact-info {
    display: flex;
    justify-content: space-between;

    padding-top: 4%;
}

#contact-info > a {
    background-color: var(--information-background-color);
    text-decoration: none;
    color: var(--paragraph-text-color);

    width: 24%;
    padding: 4%;
}

.contact-info-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-info a:hover {
    cursor: pointer;
}
#contact-info a:hover  .image-container{
    background-color: var(--highlight-hover-color);
}
#contact-info a:hover p {
    color: var(--link-hover-color);
}

.contact-info-display > .image-container {
    background-color: var(--highlight-color);
    width: 6vw;
    height: 6vw;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6%;
    border-radius: 50%;
}

.contact-info-display > .image-container > img {
    width: 60%;
    height: auto;
}

#contact-form {
    box-sizing: border-box; /* Prevent the form to overflow the padding */
    width: 60%;

    padding-top: 2%;
    padding-bottom: 4%;
}

#name-and-mail {
    display: flex;
    justify-content: space-between;
}

#name-and-mail input {
    width: 50%;
}

#name-and-mail input[name="name"] {
    margin-right: 1%;
}

#message {
    resize: vertical; /* Prevent hozizontal resizing */
    min-height: 200px;
}

/* ----------------------------------------------------------------- */
/* Scores */

#leaderboard {
    padding-top: 4%;
    padding-bottom: 4%;

    text-align: center;
}

#leaderboard-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 4px solid var(--highlight-color);
    padding-bottom: 1%;
    padding-left: calc(6.5% + 6vw);
    padding-right: 4.5%;
    margin-bottom: 2%;
}

.player-stats-display {
    background-color: var(--information-background-color);
    color: var(--title-color);

    border-radius: 8px;

    display: flex;
    align-items: center;

    padding: 2% 4%;
    margin: 0 0 1%;
}

.player-stats-display img {
    width: 6vw;
    height: auto;
    border-radius: 50%;

    margin-right: 2%;
}

.player-stats-display strong {
    color: white;
}

.player-stats-display:not(#self-stats) {
    opacity: 0.6;
}

.top1 {background-color: #a18900;}
.top2 {background-color: #c0c0c0;}
.top3 {background-color: #cd7f32;}

.player-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.stat {
    flex: 1;
    display: flex;
    justify-content: center;
}

.stat:first-child > span { margin-right: auto; }
.stat:last-child > span { margin-left: auto; }

/* ----------------------------------------------------------------- */
/* Profile page */
#my-profile {
    background-color: var(--highlight-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2%;
    padding-bottom: 2%;
}

#my-profile-pic {
    padding: 4px;
    border: 8px solid var(--highlight-color);
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;

    margin: 4% auto;
    margin-bottom: 1%;
}

#my-profile-pic > img {
    border-radius: 50%;
    margin: 0 auto;
}

#my-bio {

    resize: none;
    max-lines: 2;
    text-align: center;
    width: 50%;
}

